.Parallex2-main{
    background-image: url(../../../public/img/body/cta-bg1.jpg);
    width: 100%;
    color: var(--white);
    display: flex;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.Parallex2-con{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 90%;
}
.Parallex2-con h2{
    margin: 30px;
    font-size: 29px;
    font-weight: 700;
}
.Parallex2-con p{
    line-height: normal;
    font-size: 20px;
    margin: 15px 0;

}
.Parallex2-con button{
    padding: 10px 20px;
    border: 1px solid var(--white-50);
    background-color: unset;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
    margin: 20px;
}
.Parallex2-con button:hover{
    border: 1px solid var(--gold);
    background-color: var(--gold);
    color: #000;

}




/* media */
@media only screen and (min-width: 768px) {
    .Parallex2-con{
        width: 80%;
    }
  }
  @media only screen and (min-width: 1279px) {
      
  }
  