.Portfolio-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    width: 100%;
}
.Portfilo-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 90%;
}
.Portfolio-g-con img{
    width: 100%;
    
}
.Portfolio-title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Portfolio-title h3{
    color: var(--black-50);
    font-size: 16px;
    margin: 20px 0;
  }
  .Portfolio-title span{
    width: 70px;
    margin-right: 10px;
    background-color:var(--gold);
    height: 2px;
  }
.Portfilo-con-p{
    font-weight: 800;
    font-size: 24px;
    margin: 20px 0;
}
.Portfolio-filter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 70px 0;
}
.Portfolio-filter button{
    padding: 10px 20px;
    margin: 0 5px;
    border: unset;
    background-color: unset;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
}
.Portfolio-filter button:hover{
    background-color: var(--gold);
}
.Portfolio-filter .active{
    background-color: var(--gold);

}



  /* media */
@media only screen and (min-width: 768px) {
    .Portfilo-con{
        width: 80%;
    }
    .Portfolio-filter{
        margin: 10px 0 100px 0;

    }
  }
  @media only screen and (min-width: 1279px) {
      
  }
  